.gift-box {
    margin-top: 100px;
    img {
      width: 100%;
    }
    .btn-box {
      margin-bottom: 20px;
      .btn {
        width: 100%;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
    .gift-item {
      filter: blur(10px);
    }
  }
  